---
- apt: update_cache=yes cache_valid_time=3600


- apt: name={{item}} state=present
  with_items:
    - nginx
    - nginx-extras

- template: src=app.inow.conf.j2 dest=/etc/nginx/sites-enabled/{{name}}
  become_user: root

- file: path=/etc/nginx/sites-available/default state=absent
  become_user: root

- file: path=/etc/nginx/sites-enabled/default state=absent
  become_user: root

- file: path=/etc/nginx/ssl state=directory
  become_user: root

- service: name=nginx state=restarted
  become_user: root

