[uwsgi]
vhost = true
plugin=python
socket=/tmp/{{name}}.sock
chmod-socket=777
processes=10
chdir=/home/inow/app/{{ name }}
virtualenv=/home/inow/app/{{ name }}venv
wsgi-file=/home/inow/app/{{ name }}/{{name}}/wsgi.py