[uwsgi]
vhost = true
plugin=python
socket=/tmp/{{name}}.sock
chmod-socket=777
processes=5
chdir=/home/{{ name }}/app/{{ name }}
virtualenv=/home/{{ name }}/app/{{ name }}/.venv
wsgi-file=/home/{{ name }}/app/{{ name }}/{{name}}/wsgi.py