[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.5"
djangorestframework = "==3.9.1"
django-filter = "==2.1.0"
django-rest-swagger = "==2.2.0"
ansible = "==2.7.6"
django-model-utils = "==3.1.2"
django-cors-headers = "==2.4.0"
djangorestframework-simplejwt = "==3.3"
"psycopg2" = "==2.7.7"
celery = "==4.2.1"
sendgrid = "==5.6.0"
djangorestframework-csv = "==2.1.0"

[dev-packages]
django-extensions = "*"
pytest = "*"
pytest-django = "*"
pytest-factoryboy = "*"

[requires]
python_version = "3.6"

[environment]
PIPENV_VENV_IN_PROJECT = "1"
